/* :root {
    --bg-primary: #F2F2F7;
    --bg-grouped: #F2F2F7;
    --bg-card: #FFFFFF;
    --bg-card-alt: #F2F2F7;
    --bg-elevated: #FFFFFF;

    --text-primary: #1C1C1E;
    --text-secondary: #8A8A8E;
    --text-tertiary: #AEAEB2; 
    --text-link: #007AFF;

    --color-separator: #C6C6C8;
    --color-ok: #34C759;
    --color-ok-lighter: #4CD964;
    --color-warning: #FF9500;
    --color-warning-lighter: #FFB340;
    --color-failed: #FF3B30;
    --color-failed-lighter: #FF6259;
}


.dark {
    --bg-primary: #000000;
    --bg-grouped: #1C1C1E;
    --bg-card: #2C2C2E;
    --bg-card-alt: #3A3A3C;
    --bg-elevated: #2C2C2E;

    --text-primary: #FFFFFF;
    --text-secondary: #EBEBF5;
    --text-tertiary: #98989D;
    --text-link: #0A84FF;

    --color-separator: #38383A;
    --color-ok: #30D158;
    --color-ok-lighter: #5FDF79;
    --color-warning: #FF9F0A;
    --color-warning-lighter: #FFB84D;
    --color-failed: #FF453A;
    --color-failed-lighter: #FF6961;
} */



@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "shabnam";
    src: url("assets/fonts/Shabnam.woff2");
}

@theme {
    /* ---------- Light variants (default) ---------- */
    --color-bg-primary: #F2F2F7;
    --color-bg-grouped: #F2F2F7;
    --color-bg-card: #FFFFFF;
    --color-bg-card-alt: #F2F2F7;
    --color-bg-elevated: #FFFFFF;

    --color-text-primary: #1C1C1E;
    --color-text-secondary: #8A8A8E;
    --color-text-tertiary: #AEAEB2;
    --color-text-link: #007AFF;

    --color-separator: #C6C6C8;
    --color-ok: #34C759;
    --color-ok-lighter: #4CD964;
    --color-warning: #FF9500;
    --color-warning-lighter: #FFB340;
    --color-failed: #FF3B30;
    --color-failed-lighter: #FF6259;

    /* ---------- Dark variants (suffix `-dark`) ---------- */
    --color-bg-primary-dark: #000000;
    --color-bg-grouped-dark: #1C1C1E;
    --color-bg-card-dark: #2C2C2E;
    --color-bg-card-alt-dark: #3A3A3C;
    --color-bg-elevated-dark: #2C2C2E;

    --color-text-primary-dark: #FFFFFF;
    --color-text-secondary-dark: #EBEBF5;
    --color-text-tertiary-dark: #98989D;
    --color-text-link-dark: #0A84FF;

    --color-separator-dark: #38383A;
    --color-ok-dark: #30D158;
    --color-ok-lighter-dark: #5FDF79;
    --color-warning-dark: #FF9F0A;
    --color-warning-lighter-dark: #FFB84D;
    --color-failed-dark: #FF453A;
    --color-failed-lighter-dark: #FF6961;


    --spacing-app-sidebar-w: 200px;
    --spacing-app-header-h: 60px;
}

* {
    font-family: "shabnam";
}